h1 {
  text-align: center;
}

element {
  margin-left: 25vw;
}

#grid {
  width: 800px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  border: 1px solid black;
}

.cell {
  width: 8px;
  height: 8px;
}

.snake {
  background-color: black;
  border-radius: 40px;
}

.ghost {
  background-color: gray;
}

.normal {
  border-radius: 50px;
  background-color: red;
  animation-name: normalFood;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes normalFood {
  from {
    box-shadow: 0px 0px 3px 3px orange;
  }
  to {
    box-shadow: 0px 0px 1px 1px orange;
  }
}

.special {
  border-radius: 50px;
  background-color: blue;
  animation-name: specialFood;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes specialFood {
  from {
    box-shadow: 0px 0px 5px 5px red;
  }
  to {
    box-shadow: 0px 0px 1px 1px red;
  }
}

.score {
  text-align: center;
  padding-top: 10px;
  height: 30px;
  width: 130px;
  background-color: rgb(207, 203, 203);
  border-radius: 20px;
  border: 1px solid black;
}

.gameOver {
  justify-self: start;
  z-index: 2;
  position: absolute;
  top: 0;
  width: 50vw;
  height: 50vw;
  margin-top: -100vw;
  margin-left: 25vw;
  background-color: gray;
  transition: 1s;
  font-size: 100px;
  opacity: 0.8;
}

.status {
  text-align: center;
}

.gameStatus {
  display: flex;
  justify-content: space-evenly;
}

.timer {
  text-align: center;
  padding-top: 10px;
  height: 30px;
  width: 130px;
  background-color: rgb(207, 203, 203);
  border-radius: 20px;
  border: 1px solid black;
}
